<a href="https://colab.research.google.com/github/srabosthy/python-for-data-science/blob/main/Python_For_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1) Variables

In [23]:
print('Hello world')

Hello world

In [24]:
x = 7
%whos
print(type(x))

x = 5.3
print(type(x))

abcd = 123.34

Variable   Type       Data/Info
-------------------------------
a          int        2
b          int        5
c          int        7
d          int        9
div_ad     float      0.2222222222222222
div_ax     float      7.3
div_da     float      4.5
e          int        10
fd_da      int        4
mul_ac     int        14
poo        str        This is my poo
s          str        HelloWorld
s1         str        Hello
s2         str        World
sum_ab     int        7
sum_ax     float      7.3
tdf_ac     int        128
x          int        7
xyz        complex    (4+5j)
<class 'int'>
<class 'float'>

In [25]:
a,b,c,d,e = 2,5,7,9,10
%whos

Variable   Type       Data/Info
-------------------------------
a          int        2
abcd       float      123.34
b          int        5
c          int        7
d          int        9
div_ad     float      0.2222222222222222
div_ax     float      7.3
div_da     float      4.5
e          int        10
fd_da      int        4
mul_ac     int        14
poo        str        This is my poo
s          str        HelloWorld
s1         str        Hello
s2         str        World
sum_ab     int        7
sum_ax     float      7.3
tdf_ac     int        128
x          float      5.3
xyz        complex    (4+5j)

In [26]:
del abcd
%whos
# print(abcd)

Variable   Type       Data/Info
-------------------------------
a          int        2
b          int        5
c          int        7
d          int        9
div_ad     float      0.2222222222222222
div_ax     float      7.3
div_da     float      4.5
e          int        10
fd_da      int        4
mul_ac     int        14
poo        str        This is my poo
s          str        HelloWorld
s1         str        Hello
s2         str        World
sum_ab     int        7
sum_ax     float      7.3
tdf_ac     int        128
x          float      5.3
xyz        complex    (4+5j)

In [27]:
xyz = 4 + 5j
print(type(xyz))

<class 'complex'>

In [28]:
poo = "This is my poo"
print(type(poo))

<class 'str'>

## Operators

In [29]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        2
b          int        5
c          int        7
d          int        9
div_ad     float      0.2222222222222222
div_ax     float      7.3
div_da     float      4.5
e          int        10
fd_da      int        4
mul_ac     int        14
poo        str        This is my poo
s          str        HelloWorld
s1         str        Hello
s2         str        World
sum_ab     int        7
sum_ax     float      7.3
tdf_ac     int        128
x          float      5.3
xyz        complex    (4+5j)

In [30]:
sum_ab = a + b
print(sum_ab)
type(sum_ab)

7

int

In [31]:
sum_ax = a+x
print(sum_ax)

7.3

In [32]:
div_da = d/a
print(div_da)

fd_da = d//a
print(fd_da)

4.5
4

In [33]:
mul_ac = a * c
print(mul_ac)

tdf_ac = a ** c
print(tdf_ac)

14
128

In [34]:
s1 = "Hello"
s2 = "World"
s = s1 + s2
print(s)

HelloWorld

In [35]:
10/3

3.3333333333333335

In [36]:
_

3.3333333333333335