<a href="https://colab.research.google.com/github/srabosthy/python-for-data-science/blob/main/Python_For_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1) Variables and Operators in Python

In [17]:
print('Hello world')

Hello world

In [18]:
x = 7
%whos
print(type(x))

x = 5.3
print(type(x))

abcd = 123.34

Variable   Type    Data/Info
----------------------------
a          int     2
b          int     5
c          int     7
d          int     9
e          int     10
x          int     7
<class 'int'>
<class 'float'>

In [19]:
a,b,c,d,e = 2,5,7,9,10
%whos

Variable   Type     Data/Info
-----------------------------
a          int      2
abcd       float    123.34
b          int      5
c          int      7
d          int      9
e          int      10
x          float    5.3

In [20]:
del abcd
%whos
# print(abcd)

Variable   Type     Data/Info
-----------------------------
a          int      2
b          int      5
c          int      7
d          int      9
e          int      10
x          float    5.3

In [21]:
xyz = 4 + 5j
print(type(xyz))

<class 'complex'>

In [22]:
poo = "This is my poo"
print(type(poo))

<class 'str'>